{% extends "layout/main.html" %}

{% block content %}
<div class="container">
	<div class="loginForm">
		<el-form :model="loginForm" class="demo-form-inline">
			<el-form-item label="用户名">
				<el-input v-model="loginForm.username" placeholder="用户名"></el-input>
			</el-form-item>
			<el-form-item label="密码">
				<el-input type="password" v-model="loginForm.pwd"></el-input>
			</el-form-item>
			<el-form-item label="验证码">
				<el-input v-model="loginForm.captcha" placeholder="验证码"></el-input>
				<span>{{ captcha }}</span>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" @click="onSubmit">登录</el-button>
			</el-form-item>
		</el-form>
	</div>
</div>
{% endblock %}


{% block bottom_js %}
<script type="text/javascript">	
	core.run_vue({
		data : function(){
            var data = {
				loginForm : {
					username: 'egg',
					pwd: '123123',
					captcha: '1234',
				}
            };
            return data;
         },
         methods: {
            onSubmit: function(){
				core.axios('/login', {
					method: 'post',
					data: this.loginForm,
					autoShowErr: true,
					success: function(res){
						if(res.data.result == true) {

						}
					},
				});
			},
         },
	});
</script>
{% endblock %}
